* {
  box-sizing: border-box;
}

body {
  font-family: 'Grandstander', cursive;
  background: linear-gradient(to right, #75c7c1, #86A8E7, #7F7FD5);
  z-index: -100;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background:  rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.logo-app {
  height: 70px;
}

.status{
  line-height: 70px;
}

.st-click{
  display: inline-block;
  position: relative;
  padding: 0 2px 0 2px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.st-click::after{
  content: " ";
  position: absolute;
  bottom: 25px;
  right: 0;
  height: 1px;
  width: 0;
  background-color: #f7f7f7;
  transition: 1s;
}

.st-click:hover::after{
  width: 100%;
}

button{
  font-family: 'Grandstander', cursive;
  border-radius: 4px;
  outline: none;
}

h2{ 
  font-size: 43px; 
  margin: 30px 0 10px 0; 
  text-align: center; 
  color: #30405e;
  text-shadow: 1px 1px 2px #68848b; 
}

.list-users{
  width: 70%;
  margin:auto;
  margin-bottom: 50px;
  transform: translateX(-50px);
}

.detail-view{
  width: 100%;
  animation-name: upheight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  position: relative;
  transition-duration: 1s;
}

.popup{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
  margin: auto;
  border-radius: 7px;
  overflow: hidden;
}

.div_blur{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 54, 0.87);
  backdrop-filter: blur(5px);
  z-index: 20;
}

.card{
  width: 100%;
  /* margin-top: 10px; */
  border-radius: 7px;
  overflow:hidden;
  display: flex;
  transition: 0.25s;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.column:hover>.div-btn{
  opacity: 1;
}

.card .avata{
  flex-basis: 35%;
  display: flex;
  position: relative;
  z-index: 10;
  padding: 5px;
}

.card .avata img{
  border: solid #484c6b 1.5px;
  width: 60px;
  height: 60px;
  max-width: 100%;
  border-radius: 50%;
  overflow:hidden;
  margin: auto;
}

.card .name{
  flex-basis: 65%;
  background: rgba(0, 0, 0, 0.2);
  line-height: 70px;
  font-weight: 500;
  color: #ffffff;
  z-index: 10;
}


/* The popup form - hidden by default */
.form-popup {
  border-radius: 7px;
  display: none;
  position: absolute;
  border: 3px solid #f1f1f1;
  z-index: 20;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 25px 18px 15px 18px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  font-size: medium;
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.9;
}

/* css for popup */

.form-container .cancel {
  background-color: rgba(228, 149, 30, 0.877);
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#create {
  position: absolute;
  right: 0;
  background: linear-gradient(to right,#75c7c1, #86A8E7, #8b8be7);
  box-shadow: rgba(85, 85, 85, 0.295) -3px 3px 5px;
  color: white;
  margin-right: 20px;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
  font-weight: bold;
  z-index: 20;
  transition: 0.2s;
  font-size: 15.5px;
}

#create:hover{
  transform: scale(1.05);
}

.div_popup{
  position: relative;
}

.displayNone{
  display: none;
}

.column {
  float: left;
  width: 44%;
  padding: 15px 0 15px 0;
  margin: 0 3% 0 3%;
  position: relative;
}

i{
  width: 50px;
  font-size: 30px !important;
  font-weight: 600 !important;
  color: #30405e;
  margin: 10px 0 20px 0 !important;
  transition: 0.1s;
}

i:hover{
  transform: scale(1.2);
  cursor: pointer;
}

#div_AlertContainer{
  position: fixed;
  z-index: 100;
  bottom: 10px;
  right: 10px;
}

.div-btn{
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(80%);
  width: 50px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
  transition: 0.4s;
}

.no-margin {
  margin: 0 !important;
  font-size: large !important;
}