* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(241, 241, 241, 0.842);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #30405e;
  min-height: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}


.App-header h3 {
  padding: 0px 0px 0px 3%;
}

h2{
  color: #30405e;
}

@keyframes jump {
  0%   {top: 300px;}
  50%  {top: 285px;}
  100% {top: 300px;}
}
/* 
h1{
  color: #eb92a4;
  display: block;
  top: 300px;
  animation-name: jump;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  position: relative;
} */

h2, h1{ 
  font-size: 40px; 
  font-weight: normal; 
  line-height: 48px; margin: 20px 0 20px; 
  text-align: center; 
  text-shadow: 1px 1px 2px #68848b; 
}

.title-detail{
  margin-bottom: 90px;
}

a{
  color: wheat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  width: 100%;
}

.list-users{
  width: 60%;
  margin:auto;
  margin-bottom: 50px;
  transform: translateX(-50px);
}

.detail-view{
  width: 100%;
  animation-name: upheight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  position: relative;
  transition-duration: 1s;
}

.user-detail{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
table {
  font-weight: 50;
  color: #f7f7f7;
  text-align: center;
  color: #30405e;
}

.td-title{
  width: 155px;
}

#direct{
  margin: auto;
  color: rgb(170, 165, 165);
  font-size: small;
}

@keyframes goDown {
  0%   {top: -30px;}
  50%  {top: 0px;}
  100% {top: 0px;}
}

@keyframes upheight {
  0%   {max-height: 0px;}
  100%  {max-height: 200px;}
}

#goDown{
  animation-name: goDown;
  animation-duration: 1s;
  animation-iteration-count: 1;
  position: relative;
}

#edit, #delete{
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

#avatar{
  width: 150px;
  height: 190px;
  border-radius: 15px;
  box-shadow: #30405e 3px 3px 3px;
  overflow:hidden;
} 

.item{
  width: 400px;
  margin:auto;
}

.card{
  width: 100%;
  margin: auto;
  margin-top: 20px;
  border-radius: 7px;
  overflow:hidden;
  display: flex;
  flex-wrap: wrap;
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.336);
  background: rgb(252, 245, 246);
}
.card:hover{
  transform: translateY(-5px);
  transform: scale(1.05);
}

.card .avata{
  flex-basis: 30%;
  display: flex;
  position: relative;
  background-color: rgb(159, 207, 207);
  /* background-color: rgb(159, 207, 207); */
  align-items: center;
  vertical-align: center;
  z-index: 10;
  padding: 5px;
}

#loading-detail{
  height: 80px; 
}

.fa {
  font-size: 25px;
  color: #30405e;
  font-weight: bold;
}
.fa:hover {
  transform: scale(1.5);
}

.card .avata img{
  border: solid black 2px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow:hidden;
  margin: auto;
}

.card .name{
  flex-basis: 70%;
  background-color:rgb(226, 164, 142);
  line-height: 70px;
  font-weight: 500;
  color: #ffffff;
  z-index: 10;
}


*{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  top: -2px;
  right: 0;
  transform: translateX(+50%);
  border: 3px solid #f1f1f1;
  z-index: 20;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.9;
}

/* css for popup */
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#create {
  position: absolute;
  right: 0;
  transform: translateX(30%);
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin-bottom:10px;
  opacity: 0.9;
}

.div_popup{
  position: relative;
}