* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Grandstander', cursive;
  background: linear-gradient(to right, #75c7c1, #86A8E7, #7F7FD5);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background:  rgba(0, 0, 0, 0.6);
  min-height: 8%;
  text-align: left;
}


.App-header .logo-app {
  height: 75px;
  width: 230px;
}

.status{
  position: relative;
  left: 90%;
  width: 10%;
  bottom: 10px;
}

.st-click{
  display: inline-block;
  position: relative;
  padding: 0 2px 0 2px;
  margin: 0 0 0 10px;
  color: white;
  cursor: pointer;
}

.st-click::after{
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 0;
  background-color: #f7f7f7;
  transition: 1s;
}

.st-click:hover::after{
  width: 100%;
}

h2{
  color: #30405e;
}

button{
  font-family: 'Grandstander', cursive;
  border-radius: 4px;
}

@keyframes jump {
  0%   {top: 300px;}
  50%  {top: 285px;}
  100% {top: 300px;}
}

h2, h1{ 
  font-size: 40px; 
  font-weight: normal; 
  line-height: 48px; margin: 20px 0 20px; 
  text-align: center; 
  text-shadow: 1px 1px 2px #68848b; 
}

.title-detail{
  margin-bottom: 90px;
}

a{
  color: wheat;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-users{
  width: 70%;
  margin:auto;
  margin-bottom: 50px;
  transform: translateX(-50px);
}

.detail-view{
  width: 100%;
  animation-name: upheight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  position: relative;
  transition-duration: 1s;
}

.popup{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
  margin: auto;
  border-radius: 7px;
  overflow: hidden;
}


table {
  font-weight: 50;
  color: #f7f7f7;
  text-align: center;
  margin: auto;
  color: #30405e;
  justify-content: left;
  font-weight: 450;
  line-height: 25px;
}

.td-title{
  width: 155px;
}

#direct{
  margin: auto;
  color: rgb(170, 165, 165);
  font-size: small;
}

.div_blur{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 54, 0.87);
  backdrop-filter: blur(10px);
  z-index: 20;
}

#edit, #delete{
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.item{
  width: 400px;
  margin:auto;
}

.card{
  width: 100%;
  margin: auto;
  margin-top: 20px;
  border-radius: 7px;
  overflow:hidden;
  display: flex;
  flex-wrap: wrap;
  transition: 0.25s;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.card:hover{
  transform: translateY(-5px);
  transform: scale(1.05);
}

.card .avata{
  flex-basis: 40%;
  display: flex;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 5px;
}

#loading-detail{
  height: 80px; 
}

.card .avata img{
  border: solid black 2px;
  width: 60px;
  height: 60px;
  max-width: 100%;
  border-radius: 50%;
  overflow:hidden;
  margin: auto;
}

.card .name{
  flex-basis: 60%;
  background: rgba(0, 0, 0, 0.2);
  line-height: 70px;
  font-weight: 500;
  color: #ffffff;
  z-index: 10;
}


*{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {

  border-radius: 7px;
  display: none;
  position: absolute;
  top: -2px;
  right: 0;
  transform: translateX(-7px);
  border: 3px solid #f1f1f1;
  z-index: 20;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 25px 18px 15px 18px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  font-size: medium;
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.9;
}

/* css for popup */
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgba(228, 149, 30, 0.877);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#create {
  position: absolute;
  right: 0;
  transform: translateX(-10px);
  background-color: #57d36cde;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin-bottom:10px;
  font-weight: bold;
  z-index: 20;
}

.div_popup{
  position: relative;
}

.displayNone{
  display: none;
}

.column {
  float: left;
  width: 50%;
  padding: 20px;
  /* height: 220px; */
}


.fa {
  font-size: 25px;
  color: #30405e;
  font-weight: bold;
  margin-bottom: 12px;
}
.fa:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.i{
  width: 50%;
}